asgiref==3.3.4
attrs==21.2.0
Django==3.2.3
django-cors-headers==3.7.0
django-debug-panel==0.8.3
django-debug-toolbar==3.2.1
iniconfig==1.1.1
memcache==0.5.1
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-memcached==1.59
pytz==2021.1
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
toml==0.10.2
whitenoise==5.2.0
