{% extends "base.html" %}
{% block title %} Новые посты тех, на кого вы подписаны {% endblock %}
{% block content %}
<div class="container">
    {% include "menu.html" with follow=True %}
    <h1>Последние посты</h1>

    {% for post in page %}
    {% include "post_item.html" with post=post %}
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}


    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
</div>
{% endblock %}
